/CONFIG
/build
/build*
*.pyc
*~
# Xilinx working files
*.log
/.Xil
*.xreport
*.jou
*.str
tests/fpga_sequences
/CarrierFPGA/output/
/CarrierFPGA/sim/panda_top/bench/zynq_model/
/SlowFPGA/syn/implementation/

# Built files
/SlowFPGA/src/hdl/slow_version.vhd
/tools/virtexHex2Bin
