# Example configuration file for building PandA firmware, and for simulation
#
# Copy this file to a file named CONFIG and edit as appropriate.


# Default build location.  Default is to build in build subdirectory.
#
BUILD_DIR = $(TOP)/build

# Development Tool Versions
VIVADO_VER = 2015.1
DEVTREE_VER = $(VIVADO_VER)

# EDIT BELOW THIS LINE ---------------------
# User environment for development tools

VIVADO = /dls_sw/FPGA/Xilinx/Vivado/$(VIVADO_VER)/settings64.sh
ISE = /dls_sw/FPGA/Xilinx/14.7/ISE_DS/settings64.sh
TAR_REPO = /dls_sw/FPGA/Xilinx/OSLinux/tar-balls

PANDA_ROOTFS = /home/tmc43/common/PandABlocks-rootfs

# License server for Vivado.
#
LM_LICENSE_FILE = 2100@diamcslicserv01.dc.diamond.ac.uk

# EDIT ABOVE THIS LINE ---------------------

# Python interpreter for running scripts
#
PYTHON = python2

# Sphinx build for documentation.
#
SPHINX_BUILD = sphinx-build

# List of default targets build when running make
#
MAKE_ZPKG = $(PANDA_ROOTFS)/make-zpkg
DEFAULT_TARGETS = docs carrier-fpga slow-fpga zpkg

# Board Configuration
#

# Carrier Board Version
BOARD = v2

TARGET = PandABox

# FPGA Application Name
APP_NAME = fmc_lback-sfp_lback

# vim: set filetype=make:
#
