{#  Template for the address defines file, this will automatically generate the
	chip selects and the NUM constants for the different blocks. Taken from and
	addr_defines_template and updated to current naming scheme                #}
library ieee;
use ieee.std_logic_1164.all;
use ieee.numeric_std.all;

package addr_defines is

-- Functional Address Space Chip Selects
    constant REG_CS : natural := 0;
    constant DRV_CS : natural := 1;
{% for block in blocks %}
    constant {{ block.entity|upper }}_CS : natural := {{ loop.index + 1 }};
{% endfor %}

-- Block instantiation
{% for block in blocks %}
    constant {{ block.entity|upper }}_NUM : natural := {{ block.number }};
{% endfor %}

-- Block Register Address Space


{% for block in blocks %}
-- {{ block.entity }} Block:
	{% for field in block.fields %}
		{% for register in field.registers %}
    constant {{block.entity|upper}}_{{ register.name }}_addr : natural := {{ register.number }};
		{% endfor %}
	{% endfor %}

{% endfor %}
end addr_defines;

package body addr_defines is


end addr_defines;

