{% for block in server_blocks %}
{# block is a BlockConfig object #}
{# insert its name and description #}
{{ pad(block.name) }} {{ block.description }}
    {% for field in block.fields %}
    {# field is a FieldConfig object #}
    {# insert its name and description #}
        {% if field.no_config != 1 %}
    {{ pad(field.name) }} {{ field.description }}
        {% endif %}
    {% endfor %}
    {# insert a blank line between blocks for readability #}

{% endfor %}
