top/common/hdl/defines/*.vhd
top/targets/PandABox/hdl/defines/*.vhd
{{ app_dir }}/hdl/addr_defines.vhd
{{ app_dir }}/hdl/slow_version.vhd
{{ app_dir }}/hdl/top_defines.vhd
top/common/hdl/serial_engine_rx.vhd
top/common/hdl/serial_engine_tx.vhd
top/common/hdl/serial_engine.vhd
top/common/hdl/serial_link_detect.vhd
top/common/hdl/shifter_in.vhd
top/common/hdl/ssi_clock_gen.vhd
top/common/hdl/prescaler.vhd
top/targets/PandABox/SlowFPGA/src/hdl/*.vhd
top/targets/PandABox/SlowFPGA/src/hdl/zynq_interface.vhd
top/targets/PandABox/SlowFPGA/src/hdl/slow_top.vhd
