common/hdl/defines/*.vhd
targets/PandABox/hdl/defines/*.vhd
build/apps/{{ app }}/autogen/hdl/addr_defines.vhd
build/apps/{{ app }}/autogen/hdl/slow_version.vhd
build/apps/{{ app }}/autogen/hdl/top_defines.vhd
common/hdl/serial_engine_rx.vhd
common/hdl/serial_engine_tx.vhd
common/hdl/serial_engine.vhd
common/hdl/serial_link_detect.vhd
common/hdl/shifter_in.vhd
common/hdl/ssi_clock_gen.vhd
common/hdl/prescaler.vhd
targets/PandABox/SlowFPGA/src/hdl/*.vhd
targets/PandABox/SlowFPGA/src/hdl/zynq_interface.vhd
targets/PandABox/SlowFPGA/src/hdl/slow_top.vhd
