library ieee;
use ieee.std_logic_1164.all;

package top_defines_gen is

--------------------------------------------------------------------------
-- !!! Remember to add aliases for any new entities here to top_defines
--------------------------------------------------------------------------

-- Bit Bus Width, Multiplexer Select Width -------------------------------
constant BBUSW                  : natural := 128;
constant BBUSBW                 : natural := 7;

-- Position Bus Width, Multiplexer Select Width.
constant PBUSW                  : natural := {{ total_pos_bus_length }};
constant PBUSBW                 : natural := 5;

-- Extended Position Bus Width.
constant EBUSW                  : natural := 12;
--------------------------------------------------------------------------

constant NUM_FMC_MGT            : natural := {{ num_fmc_mgt }};

-- FPGA options
{% for option, val in fpga_options.items() %}
constant {{ option | upper }}_OPTION : std_logic := '{{ val | int }}';
{% endfor %}

end top_defines_gen;
