/dts-v1/;
/include/ "ps.dtsi"
/include/ "pl.dtsi"

/ {
	model = "PZ_7z030_FMC_Carrier";
	aliases {
		serial0 = &ps7_uart_1;
		ethernet0 = &ps7_ethernet_0;
	};
	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/nfs rw nfsroot=172.23.244.35:/scratch/rootfs/xlnx-zynq ip=172.23.252.100::172.23.240.254:255.255.240.0:zynq-iu42::none";
	};
	memory {
		device_type = "memory";
		reg = <0x0 0x40000000>;
	};
};

&ps7_ethernet_0 {
	local-mac-address = [00 0a 35 00 22 5c];
};

&ps7_qspi_0 {
	#address-cells = <1>;
	#size-cells = <0>;
	flash0: flash@0 {
		compatible = "micron,n25q128";
		reg = <0x0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <50000000>;
		partition@0x00000000 {
			label = "boot";
			reg = <0x00000000 0x00500000>;
		};
		partition@0x00500000 {
			label = "bootenv";
			reg = <0x00500000 0x00020000>;
		};
		partition@0x00520000 {
			label = "kernel";
			reg = <0x00520000 0x00a80000>;
		};
		partition@0x00fa0000 {
			label = "spare";
			reg = <0x00fa0000 0x00000000>;
		};
	};
};

/ {
};

&ps7_ethernet_0 {
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";
	
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: phy@0 {
			compatible = "marvell,88e1512";
			device_type = "ethernet-phy";
			reg = <0x0>;
			marvell,reg-init = <3 16 0xff00 0x1e 3 17 0xfff0 0x00>;
		};
	};
};
