
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/01/10
NET "clk50_i" TNM_NET = "clk50_i";
TIMESPEC TS_clk50_i = PERIOD "clk50_i" 20 ns HIGH 50 %;

NET "clk125_i" TNM_NET = "clk125_i";
TIMESPEC TS_clk125_i = PERIOD "clk125_i" 8 ns HIGH 50 %;

NET "clk50_i"                 LOC = P134;
NET "clk125_i"                LOC = P92;

NET "spi_sclk_i"              LOC = P69;  # SPI_FPGA_CLK
NET "spi_dat_i"               LOC = P66;  # SPI_FPGA_DI
NET "spi_sclk_o"              LOC = P133; # SPI_FPGA_CS
NET "spi_dat_o"               LOC = P64;  # SPI_FPGA_DO

NET "shift_reg_sdata_o"       LOC = P7;
NET "shift_reg_sclk_o"        LOC = P8;
NET "shift_reg_latch_o"       LOC = P9;
NET "shift_reg_oe_n_o"        LOC = P10;

NET "dcard_ctrl1_io[0]"       LOC = P14;
NET "dcard_ctrl1_io[1]"       LOC = P15;
NET "dcard_ctrl1_io[2]"       LOC = P16;
NET "dcard_ctrl1_io[3]"       LOC = P17;
NET "dcard_ctrl1_io[4]"       LOC = P21;
NET "dcard_ctrl1_io[5]"       LOC = P22;
NET "dcard_ctrl1_io[6]"       LOC = P23;
NET "dcard_ctrl1_io[7]"       LOC = P24;
NET "dcard_ctrl1_io[8]"       LOC = P26;
NET "dcard_ctrl1_io[9]"       LOC = P27;
NET "dcard_ctrl1_io[10]"      LOC = P29;
NET "dcard_ctrl1_io[11]"      LOC = P30;
NET "dcard_ctrl1_io[12]"      LOC = P32;
NET "dcard_ctrl1_io[13]"      LOC = P33 | PULLUP;
NET "dcard_ctrl1_io[14]"      LOC = P34 | PULLUP;
NET "dcard_ctrl1_io[15]"      LOC = P35 | PULLUP;

NET "dcard_ctrl2_io[0]"       LOC = P38;
NET "dcard_ctrl2_io[1]"       LOC = P40;
NET "dcard_ctrl2_io[2]"       LOC = P41;
NET "dcard_ctrl2_io[3]"       LOC = P43;
NET "dcard_ctrl2_io[4]"       LOC = P44;
NET "dcard_ctrl2_io[5]"       LOC = P45;
NET "dcard_ctrl2_io[6]"       LOC = P46;
NET "dcard_ctrl2_io[7]"       LOC = P47;
NET "dcard_ctrl2_io[8]"       LOC = P48;
NET "dcard_ctrl2_io[9]"       LOC = P50;
NET "dcard_ctrl2_io[10]"      LOC = P51;
NET "dcard_ctrl2_io[11]"      LOC = P55;
NET "dcard_ctrl2_io[12]"      LOC = P56;
NET "dcard_ctrl2_io[13]"      LOC = P57 | PULLUP;
NET "dcard_ctrl2_io[14]"      LOC = P58 | PULLUP;
NET "dcard_ctrl2_io[15]"      LOC = P59 | PULLUP;

NET "dcard_ctrl3_io[0]"       LOC = P74;
NET "dcard_ctrl3_io[1]"       LOC = P75;
NET "dcard_ctrl3_io[2]"       LOC = P78;
NET "dcard_ctrl3_io[3]"       LOC = P79;
NET "dcard_ctrl3_io[4]"       LOC = P80;
NET "dcard_ctrl3_io[5]"       LOC = P81;
NET "dcard_ctrl3_io[6]"       LOC = P82;
NET "dcard_ctrl3_io[7]"       LOC = P83;
NET "dcard_ctrl3_io[8]"       LOC = P97;
NET "dcard_ctrl3_io[9]"       LOC = P98;
NET "dcard_ctrl3_io[10]"      LOC = P99;
NET "dcard_ctrl3_io[11]"      LOC = P100;
NET "dcard_ctrl3_io[12]"      LOC = P101;
NET "dcard_ctrl3_io[13]"      LOC = P102 | PULLUP;
NET "dcard_ctrl3_io[14]"      LOC = P104 | PULLUP;
NET "dcard_ctrl3_io[15]"      LOC = P105 | PULLUP;

NET "dcard_ctrl4_io[0]"       LOC = P111;
NET "dcard_ctrl4_io[1]"       LOC = P112;
NET "dcard_ctrl4_io[2]"       LOC = P114;
NET "dcard_ctrl4_io[3]"       LOC = P115;
NET "dcard_ctrl4_io[4]"       LOC = P116;
NET "dcard_ctrl4_io[5]"       LOC = P117;
NET "dcard_ctrl4_io[6]"       LOC = P118;
NET "dcard_ctrl4_io[7]"       LOC = P119;
NET "dcard_ctrl4_io[8]"       LOC = P120;
NET "dcard_ctrl4_io[9]"       LOC = P121;
NET "dcard_ctrl4_io[10]"      LOC = P123;
NET "dcard_ctrl4_io[11]"      LOC = P124;
NET "dcard_ctrl4_io[12]"      LOC = P126;
NET "dcard_ctrl4_io[13]"      LOC = P127 | PULLUP;
NET "dcard_ctrl4_io[14]"      LOC = P131 | PULLUP;
NET "dcard_ctrl4_io[15]"      LOC = P132 | PULLUP;

#NET "i2c_sfp_sda"             LOC = P87;
#NET "i2c_sfp_scl"             LOC = P88;

#NET "i2c_clock_sda"           LOC = P141;
#NET "i2c_clock_scl"           LOC = P142;

NET "i2c_temp_sda"            LOC = P61;
NET "i2c_temp_scl"            LOC = P62;

NET "i2c_vmon_sda"            LOC = P84;
NET "i2c_vmon_scl"            LOC = P85;

NET "SEL_GTXCLK1"             LOC = P144;

NET "ENC_LED[0]"              LOC = P137;
NET "ENC_LED[1]"              LOC = P138;
NET "ENC_LED[2]"              LOC = P139;
NET "ENC_LED[3]"              LOC = P140;

