on:
  workflow_call:

jobs:
  cocotb_test:
    runs-on: ubuntu-latest
    steps:
      # Git repositories
      - name: Checkout Source
        uses: actions/checkout@v5
        with:
          # require history to get back to last tag for version number of branches
          fetch-depth: 0

      # Login into ghcr
      - name: login to ghcr
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN  }}
      - name: Run cocotb tests
        run: |
          docker run \
            --net=host \
            -v "${{ github.workspace }}:/repos" \
            -v "${{ github.workspace }}/build:/build" \
            ghcr.io/pandablocks/pandablocks-dev-container:latest \
            /bin/bash -c \
            "ln -s CONFIG.example CONFIG && make cocotb_tests"
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          name: nvc-coverage
          files: cocotb_coverage.xml
        # env:
        #   CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
