on:
    workflow_call:
      outputs:
        matrix: 
            value: ${{ jobs.test_matrix.outputs.matrix }}

jobs:
    test_matrix:
      runs-on:
        group: iris_runners
      container:
          image: docker.io/shihabdls/pandablocks-container-extension:v2.5
          options: --privileged
      outputs:
          matrix: ${{steps.make_matrix.outputs.matrix}} 
      steps:
        - name: Checkout Source
          uses: actions/checkout@v4
          with:
            path: repos/PandABlocks-fpga
            fetch-depth: 0
  
        - name: Evaluate number of modules/tests & generate job matrix
          id: make_matrix
          run: |
               bash /__w/PandABlocks-FPGA/PandABlocks-FPGA/repos/PandABlocks-fpga/.github/scripts/Find_Tests.sh "/__w/PandABlocks-FPGA/PandABlocks-FPGA/repos/PandABlocks-fpga/modules" "/__w/PandABlocks-FPGA/PandABlocks-FPGA/repos/PandABlocks-fpga/.github/scripts"
               json_content=$(cat /__w/PandABlocks-FPGA/PandABlocks-FPGA/repos/PandABlocks-fpga/.github/scripts/github_tests.json)
               echo "::set-output name=matrix::$json_content"
               echo "$json_content"