name: Code CI

on:
  # Only run on changes to branches with open PRs
  pull_request:
    types: [opened, edited, synchronize]
  # Run after PR merged, on implicit push, and on tag pushes
  push:
    tags:
      - '*'
    branches: [master]

jobs:

    # Make Boot files
  make_boot:
    uses: ./.github/workflows/_make_boot.yml

  # Make packages for FPGA apps
  make_packages:
    uses: ./.github/workflows/_make_packages.yml

  release:
    needs: [ make_boot, make_packages, test_hdl, test_matrix, test_python_autogen ]
    uses: ./.github/workflows/_release.yml

  # Generate job matrix to evenly split tests
  test_matrix:
    uses: ./.github/workflows/_test_matrix.yml

  # python and autogen tests
  test_python_autogen:
    uses: ./.github/workflows/_test_python_autogen.yml

  # hdl tests
  test_hdl:
    needs: [test_matrix, test_python_autogen]
    uses: ./.github/workflows/_test_hdl.yml
    with:
      matrix: ${{needs.test_matrix.outputs.matrix}}
